<div  id='api_settings'>
&nbsp;
<form action="?" method="get" enctype="multipart/form-data" name="save_settings" class="form-horizontal">
<fieldset>
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update"><br>

<h3>Выберите тип валюты,<br> который хотите получить</h3><br><br>
<div class="form-group">
	<h3>Коммерческий курс ПриватБанка</h3>
	<label class="col-md-3">Пара: Евро\Гривна</label>
	<label class="col-md-3"><#eurobuy#>\<#eurosale#></label>
	<div class="col-md-3">
	<input type="checkbox" name="eurohr" checked>
	</div><br><br><br>
	
	<label class="col-md-3">Пара: Доллар\Гривна</label>
	<label class="col-md-3"><#usdbuy#>\<#usdsale#></label>
	<div class="col-md-3">
	<input type="checkbox" name="usdhr" checked></div><br><br><br>
	
	<label class="col-md-3">Пара: Рубль\Гривна</label>
	<label class="col-md-3"><#rurbuy#>\<#rursale#></label>
	<div class="col-md-3">
	<input type="checkbox" name="rurhr" checked></div><br>
	<font size="2">Обновлено: <#date1#></font><br><br>
	<font color="red" size="4"><#notification#></font>

    <h3>Банк России</h3>
	<label class="col-md-3">Пара: Доллар\Рубль</label>
	<label class="col-md-3"><#dollarrur#></label>
	<div class="col-md-3">
	<input type="checkbox" name="dollarrur" checked></div><br><br><br>
	
	<label class="col-md-3">Пара: Евро\Рубль</label>
	<label class="col-md-3"><#eurorur#></label>
	<div class="col-md-3">
	<input type="checkbox" name="eurorur" checked></div><br>
	<font size="2">Обновлено: <#date2#></font><br><br>
	<font color="red" size="4"><#notification2#></font>
	
	<h3>Курс НБУ</h3>
	<label class="col-md-3">Пара: Евро\Гривна</label>
	<label class="col-md-3"><#euronbu#></label>
	<div class="col-md-3">
	<input type="checkbox" name="euronbu" checked>
	</div><br><br><br>
	
	<label class="col-md-3">Пара: Доллар\Гривна</label>
	<label class="col-md-3"><#usdnbu#></label>
	<div class="col-md-3">
	<input type="checkbox" name="usdnbu" checked></div><br><br><br>
	
	<label class="col-md-3">Пара: Рубль\Гривна</label>
	<label class="col-md-3"><#rurnbu#></label>
	<div class="col-md-3">
	<input type="checkbox" name="rurnbu" checked></div><br>
	<font size="2">Обновлено: <#date3#></font>
	<br>
	<br><br>
	<font color="red" size="4"><#notification3#></font>
	
	
    <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
	<input type="button" class="btn btn-primary" onclick="location.href='https://www.youtube.com/watch?v=wZSfGWjE6lc&index=4&list=PLYOYjvcehgZKWUxcNR25o37EdBGtX084E';" value="Озвучить" />
	</div><br>

	</div>
	</fieldset>
</form><br>
<a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=3680" target="_blank">Обсуждение модуля на форуме</a>.<br>
Курс НБУ предоставлен порталом <a href="https://minfin.com.ua" target="_blank">Минфин</a>.<br>
</div>
