<div  id='api_settings'>
&nbsp;
<form action="?" method="get" enctype="multipart/form-data" name="save_settings" class="form-horizontal">
<fieldset>
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update"><br>

<h3>Выберите тип валюты,<br> который хотите получить</h3><br><br>

<div class="form-group">
	<label class="col-md-3">Евро</label>
	<div class="col-md-3">
	<input type="checkbox" name="euro" checked></div><br><br><br>
	
	<label class="col-md-3">Доллар</label>
	<div class="col-md-3">
	<input type="checkbox" name="usd" checked></div><br><br><br>
	
	<label class="col-md-3">Рубль</label>
	<div class="col-md-3">
	<input type="checkbox" name="rur" checked></div><br><br><br>
	
	
    <button type="submit" name="subm" value="settings" class="btn btn-primary">Сохранить</button>
	<button type="submit" name="subm1" value="song" class="btn btn-primary" disabled="disabled">Озвучить</button></div>
	</div><br>
	</fieldset>
</form><br>
<br>
<a href="http://majordomo.smartliving.ru/forum/" target="_blank">Обсуждение модуля на форуме</a>.<br>
</div>
